In [1]:
from google.colab import files

# Install Kaggle library
!pip install  kaggle

!mkdir .kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.4.5.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.9)
mkdir: cannot create directory ‘.kaggle’: File exists

In [0]:
import json
token = {"username":"abolimarathe","key":"53f6206052b7e46e5736781e4a76ca15"}
with open('/content/.kaggle/kaggle.json', 'w') as file:
    json.dump(token, file)

In [0]:
!cp /content/.kaggle/kaggle.json ~/.kaggle/kaggle.json

In [4]:
!kaggle config set -n path -v{/content}

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
- path is now set to: {/content}

In [0]:

!chmod 600 /root/.kaggle/kaggle.json

In [6]:
!kaggle datasets list

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
ref                                                           title                                                size  lastUpdated          downloadCount
------------------------------------------------------------  --------------------------------------------------  -----  -------------------  -------------
allen-institute-for-ai/CORD-19-research-challenge             COVID-19 Open Research Dataset Challenge (CORD-19)    3GB  2020-06-05 02:43:46          71785
roche-data-science-coalition/uncover                          UNCOVER COVID-19 Challenge                          179MB  2020-05-21 18:57:53          10483
siddharthm1698/coursera-course-dataset                        Coursera Course Dataset                              23KB  2020-05-25 05:52:27             10
stefanlarson/outofscope-intent-classification-dataset         Out-of-Scope Intent Classification Dataset          285KB  2020-05-15 03:04:34              1
kianwee/agricultural-raw-material-prices-19902020             Agricultural Raw Material prices (1990-2020)         23KB  2020-05-27 04:51:29              0
kushshah95/the-insurance-company-tic-benchmark                The Insurance Company (TIC) Benchmark               262KB  2020-05-27 16:36:41              1
biancaferreira/african-wildlife                               African Wildlife                                    448MB  2020-05-25 13:42:19              2
yamaerenay/spotify-dataset-19212020-160k-tracks               Spotify Dataset 1921-2020, 160k+ Tracks              17MB  2020-05-25 11:31:07             24
jessicali9530/animal-crossing-new-horizons-nookplaza-dataset  Animal Crossing New Horizons NookPlaza Catalog      577KB  2020-05-18 22:50:26             42
ruchi798/movies-on-netflix-prime-video-hulu-and-disney        Movies on Netflix, Prime Video, Hulu and Disney+    627KB  2020-05-22 23:48:01             47
ruchi798/malnutrition-across-the-globe                        Malnutrition across the globe                        79KB  2020-05-25 09:51:45             14
ruchi798/tv-shows-on-netflix-prime-video-hulu-and-disney      TV shows on Netflix, Prime Video, Hulu and Disney+   88KB  2020-05-25 15:38:39             12
rmjacobsen/property-listings-for-5-south-american-countries   Property Listings for 5 South American Countries    475MB  2020-05-25 02:05:38              1
jessemostipak/marble-racing                                   Marble Racing                                         4KB  2020-06-02 17:08:53              0
gomes555/road-transport-brazil                                Road transport dataset in brazil                     62MB  2020-05-26 02:52:34              4
devinaconley/covid19-mobility-data                            COVID-19 Google mobility data                         4MB  2020-06-04 12:15:15              2
benroshan/factors-affecting-campus-placement                  Campus Recruitment                                    5KB  2020-04-11 11:09:02           5523
bobbyscience/league-of-legends-diamond-ranked-games-10-min    League of Legends Diamond Ranked Games (10 min)     539KB  2020-04-13 13:53:02           2542
fireballbyedimyrnmom/us-counties-covid-19-dataset             US counties COVID 19 dataset                          2MB  2020-06-05 11:59:45           7247
divyansh22/flight-delay-prediction                            January Flight Delay Prediction                      23MB  2020-04-14 13:15:41           1850

In [7]:
!kaggle datasets download -d smid80/coronavirus-covid19-tweets-early-april -p /content

Downloading coronavirus-covid19-tweets-early-april.zip to /content
100% 1.30G/1.30G [00:30<00:00, 73.1MB/s]
100% 1.30G/1.30G [00:30<00:00, 46.1MB/s]

In [8]:
!unzip \*.zip

Archive:  coronavirus-covid19-tweets-early-april.zip
  inflating: 2020-03-29 Coronavirus Tweets.CSV
  inflating: 2020-03-30 Coronavirus Tweets.CSV
  inflating: 2020-03-31 Coronavirus Tweets.CSV
  inflating: 2020-04-01 Coronavirus Tweets.CSV
  inflating: 2020-04-02 Coronavirus Tweets.CSV
  inflating: 2020-04-03 Coronavirus Tweets.CSV
  inflating: 2020-04-04 Coronavirus Tweets.CSV
  inflating: 2020-04-05 Coronavirus Tweets.CSV
  inflating: 2020-04-06 Coronavirus Tweets.CSV
  inflating: 2020-04-07 Coronavirus Tweets.CSV
  inflating: 2020-04-08 Coronavirus Tweets.CSV
  inflating: 2020-04-09 Coronavirus Tweets.CSV
  inflating: 2020-04-10 Coronavirus Tweets.CSV
  inflating: 2020-04-11 Coronavirus Tweets.CSV
  inflating: 2020-04-12 Coronavirus Tweets.CSV
  inflating: 2020-04-13 Coronavirus Tweets.CSV
  inflating: 2020-04-14 Coronavirus Tweets.CSV
  inflating: 2020-04-15 Coronavirus Tweets.CSV

In [9]:
from gensim import models, corpora 
import spacy
import re
from spacy.tokenizer import Tokenizer
from spacy.tokenizer import _get_regex_pattern
nlp = spacy.load("en_core_web_sm") 
import numpy as np 
from nltk.corpus import stopwords
import nltk 
import pandas as pd

nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [0]:
d1 = pd.read_csv("2020-03-29 Coronavirus Tweets.CSV")
d2 = pd.read_csv("2020-03-30 Coronavirus Tweets.CSV")
d3 = pd.read_csv("2020-03-31 Coronavirus Tweets.CSV")
d4 = pd.read_csv("2020-04-01 Coronavirus Tweets.CSV")
d5 = pd.read_csv("2020-04-02 Coronavirus Tweets.CSV")
d6 = pd.read_csv("2020-04-03 Coronavirus Tweets.CSV")
d7 = pd.read_csv("2020-04-04 Coronavirus Tweets.CSV")
d8 = pd.read_csv("2020-04-05 Coronavirus Tweets.CSV")
d9 = pd.read_csv("2020-04-06 Coronavirus Tweets.CSV")
d10 = pd.read_csv("2020-04-07 Coronavirus Tweets.CSV")
d11 = pd.read_csv("2020-04-08 Coronavirus Tweets.CSV")
d12 = pd.read_csv("2020-04-09 Coronavirus Tweets.CSV")
d13 = pd.read_csv("2020-04-10 Coronavirus Tweets.CSV")
d14 = pd.read_csv("2020-04-11 Coronavirus Tweets.CSV")
d15 = pd.read_csv("2020-04-12 Coronavirus Tweets.CSV")
d16 = pd.read_csv("2020-04-13 Coronavirus Tweets.CSV")
d17 = pd.read_csv("2020-04-14 Coronavirus Tweets.CSV")
d18 = pd.read_csv("2020-04-15 Coronavirus Tweets.CSV")

In [0]:
d1= d1[['text','lang','country_code','created_at']]
d1 = d1[d1['lang']=='en']

d2= d2[['text','lang','country_code','created_at']]
d2 = d2[d2['lang']=='en']

d3= d3[['text','lang','country_code','created_at']]
d3 = d3[d3['lang']=='en']

d4= d4[['text','lang','country_code','created_at']]
d4 = d4[d4['lang']=='en']

d5= d5[['text','lang','country_code','created_at']]
d5 = d5[d5['lang']=='en']

d6= d6[['text','lang','country_code','created_at']]
d6 = d6[d6['lang']=='en']

d7= d7[['text','lang','country_code','created_at']]
d7 = d7[d7['lang']=='en']

d8= d8[['text','lang','country_code','created_at']]
d8 = d8[d8['lang']=='en']

d9= d9[['text','lang','country_code','created_at']]
d9 = d9[d9['lang']=='en']

d10= d10[['text','lang','country_code','created_at']]
d10 = d10[d10['lang']=='en']

d11= d11[['text','lang','country_code','created_at']]
d11 = d11[d11['lang']=='en']

d12= d12[['text','lang','country_code','created_at']]
d12 = d12[d12['lang']=='en']

d13= d13[['text','lang','country_code','created_at']]
d13 = d13[d13['lang']=='en']

d14= d14[['text','lang','country_code','created_at']]
d14 = d14[d14['lang']=='en']

d15= d15[['text','lang','country_code','created_at']]
d15 = d15[d15['lang']=='en']

d16= d16[['text','lang','country_code','created_at']]
d16 = d16[d16['lang']=='en']

d17= d17[['text','lang','country_code','created_at']]
d17 = d17[d17['lang']=='en']

d18= d18[['text','lang','country_code','created_at']]
d18 = d18[d18['lang']=='en']

In [0]:
d1.dropna(inplace=True)
d2.dropna(inplace=True)
d3.dropna(inplace=True)
d4.dropna(inplace=True)
d5.dropna(inplace=True)
d6.dropna(inplace=True)
d7.dropna(inplace=True)
d8.dropna(inplace=True)
d9.dropna(inplace=True)
d10.dropna(inplace=True)
d11.dropna(inplace=True)
d12.dropna(inplace=True)
d13.dropna(inplace=True)
d14.dropna(inplace=True)
d15.dropna(inplace=True)
d16.dropna(inplace=True)
d17.dropna(inplace=True)
d18.dropna(inplace=True)

In [13]:
d3

                                                     text  ...            created_at
203     This is how far back they have to put the swab...  ...  2020-03-31T00:00:04Z
220     Mayor @KeishaBottoms to WH on #COVID19 - “Allo...  ...  2020-03-31T00:00:05Z
394     Big trip 5 mi to north...checked out Yountvill...  ...  2020-03-31T00:00:18Z
435     Nurses are being threatened and disciplined fo...  ...  2020-03-31T00:00:21Z
485     What colour is that virus? #coronavirus https:...  ...  2020-03-31T00:00:25Z
...                                                   ...  ...                   ...
669727  YOU OK WITH THIS DOCTOR SENATOR @BillCassidy ?...  ...  2020-03-31T23:59:40Z
669736  This a good look? 😷\n▪️▪️▪️\n▪️▪️▪️\n#coronavi...  ...  2020-03-31T23:59:42Z
669753  Every question from each journalist at tomorro...  ...  2020-03-31T23:59:46Z
669789  This may be the first time I actually want som...  ...  2020-03-31T23:59:53Z
669795  It’s my Birthday 🎂 #stuck #inside #coronavirus...  ...  2020-03-31T23:59:54Z

[18381 rows x 4 columns]

In [0]:
d1.reset_index(inplace = True) 
d2.reset_index(inplace = True)
d3.reset_index(inplace = True)
d4.reset_index(inplace = True)
d5.reset_index(inplace = True)
d6.reset_index(inplace = True)
d7.reset_index(inplace = True)
d8.reset_index(inplace = True)
d9.reset_index(inplace = True)
d10.reset_index(inplace = True)
d11.reset_index(inplace = True)
d12.reset_index(inplace = True)
d13.reset_index(inplace = True)
d14.reset_index(inplace = True)
d15.reset_index(inplace = True)
d16.reset_index(inplace = True)
d17.reset_index(inplace = True)
d18.reset_index(inplace = True)










new = d1["created_at"].str.split("T", n = 1, expand = True)
d1["date"]= new[0] 
d1["time"]= new[1] 

new = d2["created_at"].str.split("T", n = 1, expand = True)
d2["date"]= new[0] 
d2["time"]= new[1] 

new = d3["created_at"].str.split("T", n = 1, expand = True)
d3["date"]= new[0] 
d3["time"]= new[1] 

new = d4["created_at"].str.split("T", n = 1, expand = True)
d4["date"]= new[0] 
d4["time"]= new[1] 

new = d5["created_at"].str.split("T", n = 1, expand = True)
d5["date"]= new[0] 
d5["time"]= new[1] 

new = d6["created_at"].str.split("T", n = 1, expand = True)
d6["date"]= new[0] 
d6["time"]= new[1] 

new = d7["created_at"].str.split("T", n = 1, expand = True)
d7["date"]= new[0] 
d7["time"]= new[1] 

new = d8["created_at"].str.split("T", n = 1, expand = True)
d8["date"]= new[0] 
d8["time"]= new[1] 

new = d9["created_at"].str.split("T", n = 1, expand = True)
d9["date"]= new[0] 
d9["time"]= new[1] 

new = d10["created_at"].str.split("T", n = 1, expand = True)
d10["date"]= new[0] 
d10["time"]= new[1] 

new = d11["created_at"].str.split("T", n = 1, expand = True)
d11["date"]= new[0] 
d11["time"]= new[1] 

new = d12["created_at"].str.split("T", n = 1, expand = True)
d12["date"]= new[0] 
d12["time"]= new[1] 

new = d13["created_at"].str.split("T", n = 1, expand = True)
d13["date"]= new[0] 
d13["time"]= new[1] 

new = d14["created_at"].str.split("T", n = 1, expand = True)
d14["date"]= new[0] 
d14["time"]= new[1] 

new = d15["created_at"].str.split("T", n = 1, expand = True)
d15["date"]= new[0] 
d15["time"]= new[1] 

new = d16["created_at"].str.split("T", n = 1, expand = True)
d16["date"]= new[0] 
d16["time"]= new[1] 

new = d17["created_at"].str.split("T", n = 1, expand = True)
d17["date"]= new[0] 
d17["time"]= new[1] 

new = d18["created_at"].str.split("T", n = 1, expand = True)
d18["date"]= new[0] 
d18["time"]= new[1]

In [15]:
len(d1) +len(d2)+len(d3)+len(d4)+len(d5)+len(d6)+len(d7)+len(d8)+len(d9)+len(d10)+len(d11)+len(d12)+len(d13)+len(d14)+len(d15)+len(d16)+len(d17)+len(d18)

230769

In [16]:
nltk.download('punkt')
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [17]:
d1

        index  ...       time
0         293  ...  00:00:16Z
1         393  ...  00:00:29Z
2         481  ...  00:00:39Z
3         499  ...  00:00:42Z
4         500  ...  00:00:42Z
...       ...  ...        ...
17850  564053  ...  23:59:41Z
17851  564102  ...  23:59:52Z
17852  564113  ...  23:59:54Z
17853  564114  ...  23:59:54Z
17854  564119  ...  23:59:55Z

[17855 rows x 7 columns]

In [0]:
d1 = d1.append(d2)
d1 =d1.append(d3)
d1 =d1.append(d4)
d1 =d1.append(d5)
d1 =d1.append(d6)
d1 =d1.append(d7)
d1 =d1.append(d8)
d1 =d1.append(d9)
d1 =d1.append(d10)
d1 =d1.append(d11)
d1 =d1.append(d12)
d1 =d1.append(d13)
d1 =d1.append(d14)
d1 =d1.append(d15)
d1 =d1.append(d16)
d1 =d1.append(d17)
d1 =d1.append(d18)

In [19]:
hashtags = d1['text'].apply(lambda x: re.findall(r'\B#\w*[a-zA-Z]+\w*',x))
print(hashtags)
print(len(hashtags))
d1['hashtag'] = hashtags

0                                              [#Covid_19]
1                                               [#COVID19]
2                                               [#COVID19]
3        [#covid19, #cavalierkingcharles, #daftdug, #La...
4                                 [#Covid_19, #medtwitter]
                               ...
11415        [#WHO, #COVID19, #coronavirus, #GlobalHealth]
11416             [#COVID19, #everyproblemisanopportunity]
11417                             [#coronavirus, #Science]
11418                                           [#COVID19]
11419                               [#CoronavirusPandemic]
Name: text, Length: 230769, dtype: object
230769

In [20]:
len(d1)

230769

In [21]:
d1

        index  ...                                            hashtag
0         293  ...                                        [#Covid_19]
1         393  ...                                         [#COVID19]
2         481  ...                                         [#COVID19]
3         499  ...  [#covid19, #cavalierkingcharles, #daftdug, #La...
4         500  ...                           [#Covid_19, #medtwitter]
...       ...  ...                                                ...
11415  475039  ...      [#WHO, #COVID19, #coronavirus, #GlobalHealth]
11416  475072  ...           [#COVID19, #everyproblemisanopportunity]
11417  475075  ...                           [#coronavirus, #Science]
11418  475191  ...                                         [#COVID19]
11419  475199  ...                             [#CoronavirusPandemic]

[230769 rows x 8 columns]

In [0]:
d1.reset_index(inplace=True)
from nltk.tokenize import TweetTokenizer
tweet_tokenizer = TweetTokenizer(preserve_case=False, strip_handles=True, reduce_len=True)

emoticons_happy = set([
    ':-)', ':)', ';)', ':o)', ':]', ':3', ':c)', ':>', '=]', '8)', '=)', ':}',
    ':^)', ':-D', ':D', '8-D', '8D', 'x-D', 'xD', 'X-D', 'XD', '=-D', '=D',
    '=-3', '=3', ':-))', ":'-)", ":')", ':*', ':^*', '>:P', ':-P', ':P', 'X-P',
    'x-p', 'xp', 'XP', ':-p', ':p', '=p', ':-b', ':b', '>:)', '>;)', '>:-)',
    '<3'
    ])

# Sad Emoticons
emoticons_sad = set([
    ':L', ':-/', '>:/', ':S', '>:[', ':@', ':-(', ':[', ':-||', '=L', ':<',
    ':-[', ':-<', '=\\', '=/', '>:(', ':(', '>.<', ":'-(", ":'(", ':\\', ':-c',
    ':c', ':{', '>:\\', ';('
    ])

#Emoji patterns
emoji_pattern = re.compile("["
         u"\U0001F600-\U0001F64F"  # emoticons
         u"\U0001F300-\U0001F5FF"  # symbols & pictographs
         u"\U0001F680-\U0001F6FF"  # transport & map symbols
         u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
         u"\U00002702-\U000027B0"
         u"\U000024C2-\U0001F251"
         "]+", flags=re.UNICODE)


#combine sad and happy emoticons
emoticons = emoticons_happy.union(emoticons_sad)

def clean_tweets(tweet):
 
    stop_words = set(stopwords.words('english'))
    word_tokens = word_tokenize(tweet)
    #removing mentions
    tweet = re.sub(r':', '', tweet)
    tweet = re.sub(r'‚Ä¶', '', tweet)
#replace consecutive non-ASCII characters with a space
    tweet = re.sub(r'[^\x00-\x7F]+',' ', tweet)
#remove emojis from tweet
    tweet = emoji_pattern.sub(r'', tweet)
#filter using NLTK library append it to a string
    filtered_tweet = [w for w in word_tokens if not w in stop_words]
    filtered_tweet = []
#looping through conditions
    for w in word_tokens:
#check tokens against stop words , emoticons and punctuations
        if w not in stop_words and w not in emoticons and w not in string.punctuation:
            filtered_tweet.append(w)
    return ' '.join(filtered_tweet)

In [0]:

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import re #regular expressions
import string 

from nltk.corpus import stopwords
from nltk import word_tokenize

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

reuse = False
i =0 

for tweet in d1["text"]:
  
   d1.at[i,"text"] = clean_tweets(tweet)
   i = i+1

In [24]:
d1

        level_0  ...                                            hashtag
0             0  ...                                        [#Covid_19]
1             1  ...                                         [#COVID19]
2             2  ...                                         [#COVID19]
3             3  ...  [#covid19, #cavalierkingcharles, #daftdug, #La...
4             4  ...                           [#Covid_19, #medtwitter]
...         ...  ...                                                ...
230764    11415  ...      [#WHO, #COVID19, #coronavirus, #GlobalHealth]
230765    11416  ...           [#COVID19, #everyproblemisanopportunity]
230766    11417  ...                           [#coronavirus, #Science]
230767    11418  ...                                         [#COVID19]
230768    11419  ...                             [#CoronavirusPandemic]

[230769 rows x 9 columns]

In [0]:
d1['text']= d1['text'].replace({'\n':" ","\t":" "})

In [0]:
import nltk 
import re 
import numpy as np

In [0]:
i =0 

for tweet in d1["text"]:
  
   d1.at[i,"text"] = str(tweet).lower()
   
   i = i + 1

In [28]:
d1

        level_0  ...                                            hashtag
0             0  ...                                        [#Covid_19]
1             1  ...                                         [#COVID19]
2             2  ...                                         [#COVID19]
3             3  ...  [#covid19, #cavalierkingcharles, #daftdug, #La...
4             4  ...                           [#Covid_19, #medtwitter]
...         ...  ...                                                ...
230764    11415  ...      [#WHO, #COVID19, #coronavirus, #GlobalHealth]
230765    11416  ...           [#COVID19, #everyproblemisanopportunity]
230766    11417  ...                           [#coronavirus, #Science]
230767    11418  ...                                         [#COVID19]
230768    11419  ...                             [#CoronavirusPandemic]

[230769 rows x 9 columns]

In [29]:
d1

        level_0  ...                                            hashtag
0             0  ...                                        [#Covid_19]
1             1  ...                                         [#COVID19]
2             2  ...                                         [#COVID19]
3             3  ...  [#covid19, #cavalierkingcharles, #daftdug, #La...
4             4  ...                           [#Covid_19, #medtwitter]
...         ...  ...                                                ...
230764    11415  ...      [#WHO, #COVID19, #coronavirus, #GlobalHealth]
230765    11416  ...           [#COVID19, #everyproblemisanopportunity]
230766    11417  ...                           [#coronavirus, #Science]
230767    11418  ...                                         [#COVID19]
230768    11419  ...                             [#CoronavirusPandemic]

[230769 rows x 9 columns]

In [30]:
import os, sys, glob
import pandas as pd
pd.set_option('display.max_rows', 500)
import numpy as np
import datetime as dt
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns

import re
import unicodedata
import string


import nltk
nltk.download('wordnet')
nltk.download('rslp')
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('averaged_perceptron_tagger')

from nltk import word_tokenize
from nltk.corpus import stopwords
from nltk.stem.wordnet import WordNetLemmatizer

from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.decomposition import NMF
from sklearn.preprocessing import Normalizer

!pip install mglearn
import mglearn

from collections import Counter

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package rslp to /root/nltk_data...
[nltk_data]   Unzipping stemmers/rslp.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.
Collecting mglearn
  Downloading https://files.pythonhosted.org/packages/65/38/8aced26fce0b2ae82c3c87cd3b6105f38ca6d9d51704ecc44aa54473e6b9/mglearn-0.1.9.tar.gz (540kB)
     |████████████████████████████████| 542kB 3.4MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from mglearn) (1.18.4)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from mglearn) (3.2.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from mglearn) (0.22.2.post1)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from mglearn) (1.0.4)
Requirement already satisfied: pillow in /usr/local/lib/python3.6/dist-packages (from mglearn) (7.0.0)
Requirement already satisfied: cycler in /usr/local/lib/python3.6/dist-packages (from mglearn) (0.10.0)
Requirement already satisfied: imageio in /usr/local/lib/python3.6/dist-packages (from mglearn) (2.4.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.6/dist-packages (from mglearn) (0.15.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->mglearn) (1.2.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->mglearn) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->mglearn) (2.4.7)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->mglearn) (1.4.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->mglearn) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from cycler->mglearn) (1.12.0)
Building wheels for collected packages: mglearn
  Building wheel for mglearn (setup.py) ... done
  Created wheel for mglearn: filename=mglearn-0.1.9-py2.py3-none-any.whl size=582638 sha256=53a4cb5140ad22f597b454113394051893e4c1584c567cce461d020ca63324ba
  Stored in directory: /root/.cache/pip/wheels/eb/a6/ea/a6a3716233fa62fc561259b5cb1e28f79e9ff3592c0adac5f0
Successfully built mglearn
Installing collected packages: mglearn
Successfully installed mglearn-0.1.9

In [0]:
def NMF_model(keyword,data,max_df,min_df,n_components, n_grams):
    tfidf = TfidfVectorizer(ngram_range=n_grams, max_df=max_df,min_df = min_df) 
    X = tfidf.fit_transform(data)

    # Fit the model
    nmf = NMF(n_components=n_components,random_state=0)
    topics = nmf.fit_transform(X)

    # Normalize
    normalizer = Normalizer()
    topics_norm = normalizer.fit_transform(topics)
    
    # Assigning component number to each document
    topic_number = np.argmax(topics_norm,axis=1)
    
    # Counting number of documents in each component
    counts = pd.Series(topic_number).value_counts()
    
    # Plotting number of documents in each component
    plt.bar(pd.Series(topic_number).unique(),counts)
    
    # Top 10 words for each component
    d = nmf.components_
    w = tfidf.get_feature_names()
    words = []
    for r in range(len(d)):
        a = sorted([(v,i) for i,v in enumerate(d[r])],reverse=True)[0:20]
        words.append([w[e[1]] for e in a])
    
    # Printing words per topic
    print('\n Topics\n')
    print(keyword)
    feature_names = np.array(tfidf.get_feature_names())
    sorting = np.argsort(nmf.components_, axis=1)[:, ::-1]
    mglearn.tools.print_topics(topics=range(n_components), feature_names = feature_names, sorting=sorting, topics_per_chunk=5,n_words=20)

    return topics_norm, topic_number, words

In [0]:
import pandas as pd;
import numpy as np;
import scipy as sp;
import sklearn;
import sys;
from nltk.corpus import stopwords;
import nltk;
from gensim.models import ldamodel
import gensim.corpora;
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer;
from sklearn.decomposition import NMF;
from sklearn.preprocessing import normalize;
import pickle;

In [0]:
data_text = d1[['text']];

In [38]:
data_text = data_text.astype('str');
for idx in range(len(data_text)):
    
    #go through each word in each data_text row, remove stopwords, and set them on the index.
    data_text.iloc[idx]['text'] = [word for word in data_text.iloc[idx]['text'].split(' ') if word not in stopwords.words()];
    
    #print logs to monitor output
    if idx % 1000 == 0:
        sys.stdout.write('\rc = ' + str(idx) + ' / ' + str(len(data_text)));
#save data because it takes very long to remove stop words
pickle.dump(data_text, open('data_text.dat', 'wb'))
#get the words as an array for lda input
train_headlines = [value[0] for value in data_text.iloc[0:].values];

c = 1000 / 230769

KeyboardInterrupt: ignored