In [0]:
from google.colab import files

# Install Kaggle library
!pip install  kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.4.5.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.9)

In [0]:
!mkdir .kaggle

mkdir: cannot create directory ‘.kaggle’: File exists

In [0]:
import json
token = {"username":"abolimarathe","key":"53f6206052b7e46e5736781e4a76ca15"}
with open('/content/.kaggle/kaggle.json', 'w') as file:
    json.dump(token, file)

In [0]:
!cp /content/.kaggle/kaggle.json ~/.kaggle/kaggle.json

In [0]:
!kaggle config set -n path -v{/content}

- path is now set to: {/content}

In [0]:
!chmod 600 /root/.kaggle/kaggle.json

In [0]:
!kaggle datasets list

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
ref                                                           title                                                size  lastUpdated          downloadCount
------------------------------------------------------------  --------------------------------------------------  -----  -------------------  -------------
allen-institute-for-ai/CORD-19-research-challenge             COVID-19 Open Research Dataset Challenge (CORD-19)    3GB  2020-06-03 23:32:41          71785
roche-data-science-coalition/uncover                          UNCOVER COVID-19 Challenge                          179MB  2020-05-21 18:57:53          10483
kushshah95/the-insurance-company-tic-benchmark                The Insurance Company (TIC) Benchmark               262KB  2020-05-27 16:36:41              1
kianwee/agricultural-raw-material-prices-19902020             Agricultural Raw Material prices (1990-2020)         23KB  2020-05-27 04:51:29              0
jessicali9530/animal-crossing-new-horizons-nookplaza-dataset  Animal Crossing New Horizons NookPlaza Catalog      577KB  2020-05-18 22:50:26             42
rmjacobsen/property-listings-for-5-south-american-countries   Property Listings for 5 South American Countries    475MB  2020-05-25 02:05:38              1
biancaferreira/african-wildlife                               African Wildlife                                    448MB  2020-05-25 13:42:19              2
siddharthm1698/coursera-course-dataset                        Coursera Course Dataset                              23KB  2020-05-25 05:52:27             10
yamaerenay/spotify-dataset-19212020-160k-tracks               Spotify Dataset 1921-2020, 160k+ Tracks              17MB  2020-05-25 11:31:07             24
ruchi798/tv-shows-on-netflix-prime-video-hulu-and-disney      TV shows on Netflix, Prime Video, Hulu and Disney+   88KB  2020-05-25 15:38:39             12
ruchi798/movies-on-netflix-prime-video-hulu-and-disney        Movies on Netflix, Prime Video, Hulu and Disney+    627KB  2020-05-22 23:48:01             47
ruchi798/malnutrition-across-the-globe                        Malnutrition across the globe                        79KB  2020-05-25 09:51:45             14
stefanlarson/outofscope-intent-classification-dataset         Out-of-Scope Intent Classification Dataset          285KB  2020-05-15 03:04:34              1
gomes555/road-transport-brazil                                Road transport dataset in brazil                     62MB  2020-05-26 02:52:34              4
devinaconley/covid19-mobility-data                            COVID-19 Google mobility data                         4MB  2020-06-04 12:15:15              2
benroshan/factors-affecting-campus-placement                  Campus Recruitment                                    5KB  2020-04-11 11:09:02           5523
bobbyscience/league-of-legends-diamond-ranked-games-10-min    League of Legends Diamond Ranked Games (10 min)     539KB  2020-04-13 13:53:02           2542
fireballbyedimyrnmom/us-counties-covid-19-dataset             US counties COVID 19 dataset                          2MB  2020-06-04 11:17:03           7247
divyansh22/flight-delay-prediction                            January Flight Delay Prediction                      23MB  2020-04-14 13:15:41           1850
clmentbisaillon/fake-and-real-news-dataset                    Fake and real news dataset                           41MB  2020-03-26 18:51:15           4998

In [0]:
!kaggle datasets list -s early

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
ref                                                     title                                            size  lastUpdated          downloadCount
------------------------------------------------------  ----------------------------------------------  -----  -------------------  -------------
agatii/total-sale-2018-yearly-data-of-grocery-shop      TOTAL SALE 2018 Yearly data of grocery shop.      1MB  2019-07-07 19:09:47           3284
cwiloc/climate-data-from-ocean-ships                    Ocean Ship Logbooks (1750-1850)                  19MB  2017-11-16 00:59:48           3375
smid80/coronavirus-covid19-tweets-early-april           Coronavirus (covid19) Tweets - early April        1GB  2020-04-30 14:30:50            686
aaronschlegel/seattle-pet-licenses                      Seattle Pet Licenses                            924KB  2018-05-15 01:26:45           2543
kemical/kickstarter-projects                            Kickstarter Projects                             37MB  2018-02-08 09:02:30          37830
therohk/million-headlines                               A Million News Headlines                         20MB  2020-04-27 13:07:30          19353
rtatman/six-degrees-of-francis-bacon                    Six Degrees of Francis Bacon                      3MB  2017-08-29 21:19:29            618
ruslankl/early-biomarkers-of-parkinsons-disease         Early Biomarkers of Parkinson's Disease          65KB  2019-01-06 08:48:47            611
smid80/coronavirus-covid19-tweets                       Coronavirus (covid19) Tweets                      2KB  2020-05-12 04:24:57           3764
lsind18/weight-vs-age-of-chicks-on-different-diets      Weight vs Age of chicks on different diets        3KB  2019-10-22 07:32:58            336
crowdflower/first-gop-debate-twitter-sentiment          First GOP Debate Twitter Sentiment                2MB  2019-11-17 21:18:37          16756
sudalairajkumar/covid19-in-italy                        COVID-19 in Italy                               145KB  2020-06-04 10:13:37           6366
chicago/chicago-early-learning-programs                 Chicago Early Learning Programs                 106KB  2019-12-05 23:19:11             99
taindow/earlystoppingpytorch                            early-stopping-pytorch                            2MB  2019-07-20 08:17:48            139
groundhogclub/groundhog-day                             Groundhog Day Forecasts and Temperatures          3KB  2017-01-31 20:35:23           1172
unanimad/corona-virus-brazil                            Coronavirus - Brazil                              2MB  2020-06-04 11:56:31          15201
valkling/tappy-keystroke-data-with-parkinsons-patients  Tappy Keystroke Data with Parkinson's Patients   96MB  2018-02-04 05:41:47            908
kveykva/sf-bay-area-pokemon-go-spawns                   SF Bay Area Pokemon Go Spawns                     4MB  2016-09-15 04:12:39           1127
loveall/cervical-cancer-risk-classification             Cervical Cancer Risk Classification               9KB  2017-08-31 01:02:22          12897
monsieurwagner/nyctransit                               NYC Transit Data                                147MB  2017-07-22 00:52:54            658

In [0]:
!kaggle datasets download -d smid80/coronavirus-covid19-tweets-early-april -p /content

coronavirus-covid19-tweets-early-april.zip: Skipping, found more recently modified local copy (use --force to force download)

In [0]:
!unzip \*.zip

Archive:  coronavirus-covid19-tweets-early-april.zip
replace 2020-03-29 Coronavirus Tweets.CSV? [y]es, [n]o, [A]ll, [N]one, [r]ename: N

In [0]:
import pandas as pd

In [0]:
d1 = pd.read_csv("2020-03-29 Coronavirus Tweets.CSV")
d2 = pd.read_csv("2020-03-30 Coronavirus Tweets.CSV")
d3 = pd.read_csv("2020-03-31 Coronavirus Tweets.CSV")
d4 = pd.read_csv("2020-04-01 Coronavirus Tweets.CSV")
d5 = pd.read_csv("2020-04-02 Coronavirus Tweets.CSV")
d6 = pd.read_csv("2020-04-03 Coronavirus Tweets.CSV")
d7 = pd.read_csv("2020-04-04 Coronavirus Tweets.CSV")
d8 = pd.read_csv("2020-04-05 Coronavirus Tweets.CSV")
d9 = pd.read_csv("2020-04-06 Coronavirus Tweets.CSV")
d10 = pd.read_csv("2020-04-07 Coronavirus Tweets.CSV")
d11 = pd.read_csv("2020-04-08 Coronavirus Tweets.CSV")
d12 = pd.read_csv("2020-04-09 Coronavirus Tweets.CSV")
d13 = pd.read_csv("2020-04-10 Coronavirus Tweets.CSV")
d14 = pd.read_csv("2020-04-11 Coronavirus Tweets.CSV")
d15 = pd.read_csv("2020-04-12 Coronavirus Tweets.CSV")
d16 = pd.read_csv("2020-04-13 Coronavirus Tweets.CSV")
d17 = pd.read_csv("2020-04-14 Coronavirus Tweets.CSV")
d18 = pd.read_csv("2020-04-15 Coronavirus Tweets.CSV")

In [0]:

from gensim import models, corpora 
import spacy
import re
from spacy.tokenizer import Tokenizer
from spacy.tokenizer import _get_regex_pattern
nlp = spacy.load("en_core_web_sm") 
import numpy as np 
from nltk.corpus import stopwords
import nltk 

nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [0]:

d1= d1[['text','lang','country_code','created_at']]
d1 = d1[d1['lang']=='en']

d2= d2[['text','lang','country_code','created_at']]
d2 = d2[d2['lang']=='en']

d3= d3[['text','lang','country_code','created_at']]
d3 = d3[d3['lang']=='en']

d4= d4[['text','lang','country_code','created_at']]
d4 = d4[d4['lang']=='en']

d5= d5[['text','lang','country_code','created_at']]
d5 = d5[d5['lang']=='en']

d6= d6[['text','lang','country_code','created_at']]
d6 = d6[d6['lang']=='en']

d7= d7[['text','lang','country_code','created_at']]
d7 = d7[d7['lang']=='en']

d8= d8[['text','lang','country_code','created_at']]
d8 = d8[d8['lang']=='en']

d9= d9[['text','lang','country_code','created_at']]
d9 = d9[d9['lang']=='en']

d10= d10[['text','lang','country_code','created_at']]
d10 = d10[d10['lang']=='en']

d11= d11[['text','lang','country_code','created_at']]
d11 = d11[d11['lang']=='en']

d12= d12[['text','lang','country_code','created_at']]
d12 = d12[d12['lang']=='en']

d13= d13[['text','lang','country_code','created_at']]
d13 = d13[d13['lang']=='en']

d14= d14[['text','lang','country_code','created_at']]
d14 = d14[d14['lang']=='en']

d15= d15[['text','lang','country_code','created_at']]
d15 = d15[d15['lang']=='en']

d16= d16[['text','lang','country_code','created_at']]
d16 = d16[d16['lang']=='en']

d17= d17[['text','lang','country_code','created_at']]
d17 = d17[d17['lang']=='en']

d18= d18[['text','lang','country_code','created_at']]
d18 = d18[d18['lang']=='en']

In [0]:
!pip install tweet-preprocessor

Collecting tweet-preprocessor
  Downloading https://files.pythonhosted.org/packages/17/9d/71bd016a9edcef8860c607e531f30bd09b13103c7951ae73dd2bf174163c/tweet_preprocessor-0.6.0-py3-none-any.whl
Installing collected packages: tweet-preprocessor
Successfully installed tweet-preprocessor-0.6.0

In [0]:

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import re #regular expressions
import string 

from nltk.corpus import stopwords
from nltk import word_tokenize
import preprocessor as p
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

reuse = False

In [0]:
emoticons_happy = set([
    ':-)', ':)', ';)', ':o)', ':]', ':3', ':c)', ':>', '=]', '8)', '=)', ':}',
    ':^)', ':-D', ':D', '8-D', '8D', 'x-D', 'xD', 'X-D', 'XD', '=-D', '=D',
    '=-3', '=3', ':-))', ":'-)", ":')", ':*', ':^*', '>:P', ':-P', ':P', 'X-P',
    'x-p', 'xp', 'XP', ':-p', ':p', '=p', ':-b', ':b', '>:)', '>;)', '>:-)',
    '<3'
    ])

# Sad Emoticons
emoticons_sad = set([
    ':L', ':-/', '>:/', ':S', '>:[', ':@', ':-(', ':[', ':-||', '=L', ':<',
    ':-[', ':-<', '=\\', '=/', '>:(', ':(', '>.<', ":'-(", ":'(", ':\\', ':-c',
    ':c', ':{', '>:\\', ';('
    ])

#Emoji patterns
emoji_pattern = re.compile("["
         u"\U0001F600-\U0001F64F"  # emoticons
         u"\U0001F300-\U0001F5FF"  # symbols & pictographs
         u"\U0001F680-\U0001F6FF"  # transport & map symbols
         u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
         u"\U00002702-\U000027B0"
         u"\U000024C2-\U0001F251"
         "]+", flags=re.UNICODE)


#combine sad and happy emoticons
emoticons = emoticons_happy.union(emoticons_sad)

def clean_tweets(tweet):
 
    stop_words = set(stopwords.words('english'))
    word_tokens = word_tokenize(tweet)
    #removing mentions
    tweet = re.sub(r':', '', tweet)
    tweet = re.sub(r'‚Ä¶', '', tweet)
#replace consecutive non-ASCII characters with a space
    tweet = re.sub(r'[^\x00-\x7F]+',' ', tweet)
#remove emojis from tweet
    tweet = emoji_pattern.sub(r'', tweet)
#filter using NLTK library append it to a string
    filtered_tweet = [w for w in word_tokens if not w in stop_words]
    filtered_tweet = []
#looping through conditions
    for w in word_tokens:
#check tokens against stop words , emoticons and punctuations
        if w not in stop_words and w not in emoticons and w not in string.punctuation:
            filtered_tweet.append(w)
    return ' '.join(filtered_tweet)

In [0]:
d1['text']= d1['text'].replace({'\n':" ","\t":" "})

In [0]:
hashtags = d1['text'].apply(lambda x: re.findall(r'\B#\w*[a-zA-Z]+\w*',x))
print(hashtags)
print(len(hashtags))
d1['hashtag'] = hashtags

2               [#minneapolis, #mn, #covid19, #coronavirus]
6                                     [#COVID19, #pandemic]
7                  [#Wuhan, #COVID19, #CoronavirusOutbreak]
9                           [#Coronavirus, #covid19, #lgbt]
14                                [#CoronaUpdate, #Covid19]
                                ...
564135                          [#Trump, #coronavirus, #US]
564136                                [#NYPD, #coronavirus]
564137                                           [#COVID19]
564138                             [#coronavirus, #COVID19]
564140    [#TrumpVirus, #coronavirus, #Covid_19, #EveryL...
Name: text, Length: 313036, dtype: object
313036

In [0]:
import dask.dataframe as dsk
import multiprocessing as mp
from dask.multiprocessing import get

ddf = dsk.from_pandas(d1,npartitions=4*mp.cpu_count())

In [0]:
ddf['text'] = ddf['text'].map_partitions(lambda x: x.apply(p.clean),meta=('clean_text','str')).compute(scheduler='processes')

In [0]:
from textblob import TextBlob

def get_sentiment(text):
    blob = TextBlob(text)
    return [blob.sentiment.polarity]

In [0]:
df = ddf.compute(scheduler='processes')
df.head()

                                                 text  ...                                      hashtag
2   People are just storing up. They are staying a...  ...  [#minneapolis, #mn, #covid19, #coronavirus]
6   . spoke with about the stimulus package making...  ...                        [#COVID19, #pandemic]
7   First medical team aiding in fight against epi...  ...     [#Wuhan, #COVID19, #CoronavirusOutbreak]
9                         .: Is 'Lying' About Testing  ...              [#Coronavirus, #covid19, #lgbt]
14  | Johns Hopkins University has said it did not...  ...                    [#CoronaUpdate, #Covid19]

[5 rows x 5 columns]

In [0]:
from textblob import TextBlob

def get_sentiment(text):
    blob = TextBlob(text)
    return [blob.sentiment.polarity, blob.sentiment.subjectivity]





df.reset_index(inplace = True)
polarity,subjectivity = [], []
for i in range(len(df)):
    pol , sub = get_sentiment(df['text'][i])
    polarity.append(pol)
    subjectivity.append(sub)
    
df['polarity'] = polarity
df['subjectivity'] = subjectivity
df.head()

   index  ... subjectivity
0      2  ...     0.000000
1      6  ...     0.000000
2      7  ...     0.166667
3      9  ...     0.000000
4     14  ...     0.000000

[5 rows x 8 columns]

In [0]:
nlp = spacy.load("en_core_web_sm")   
import numpy as np 
from nltk.corpus import stopwords
import nltk 

nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [0]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [0]:
nltk.word_tokenize(df["text"][0])

['People',
 'are',
 'just',
 'storing',
 'up',
 '.',
 'They',
 'are',
 'staying',
 'at',
 'home',
 'freezing',
 'things',
 '.',
 'I',
 'talk',
 'to',
 'dealers',
 'around',
 'the',
 'state',
 'and',
 'out',
 'of',
 'the',
 'area',
 ',',
 'they',
 'are',
 'all',
 'out',
 'of',
 'freezers',
 ',',
 'said',
 'owner',
 'Frank',
 'Mertz',
 '.']

In [0]:
nltk.tokenize.WhitespaceTokenizer().tokenize(df["text"][0])

['People',
 'are',
 'just',
 'storing',
 'up.',
 'They',
 'are',
 'staying',
 'at',
 'home',
 'freezing',
 'things.',
 'I',
 'talk',
 'to',
 'dealers',
 'around',
 'the',
 'state',
 'and',
 'out',
 'of',
 'the',
 'area,',
 'they',
 'are',
 'all',
 'out',
 'of',
 'freezers,',
 'said',
 'owner',
 'Frank',
 'Mertz.']

In [0]:
nltk.tokenize.WordPunctTokenizer().tokenize(df["text"][0])

['People',
 'are',
 'just',
 'storing',
 'up',
 '.',
 'They',
 'are',
 'staying',
 'at',
 'home',
 'freezing',
 'things',
 '.',
 'I',
 'talk',
 'to',
 'dealers',
 'around',
 'the',
 'state',
 'and',
 'out',
 'of',
 'the',
 'area',
 ',',
 'they',
 'are',
 'all',
 'out',
 'of',
 'freezers',
 ',',
 'said',
 'owner',
 'Frank',
 'Mertz',
 '.']

In [0]:
nltk.tokenize.TreebankWordTokenizer().tokenize(df["text"][0])

['People',
 'are',
 'just',
 'storing',
 'up.',
 'They',
 'are',
 'staying',
 'at',
 'home',
 'freezing',
 'things.',
 'I',
 'talk',
 'to',
 'dealers',
 'around',
 'the',
 'state',
 'and',
 'out',
 'of',
 'the',
 'area',
 ',',
 'they',
 'are',
 'all',
 'out',
 'of',
 'freezers',
 ',',
 'said',
 'owner',
 'Frank',
 'Mertz',
 '.']

In [0]:
words  = nltk.tokenize.WhitespaceTokenizer().tokenize(df["text"][0])
df1 = pd.DataFrame()
df1['OriginalWords'] = pd.Series(words)
#porter's stemmer
porterStemmedWords = [nltk.stem.PorterStemmer().stem(word) for word in words]
df1['PorterStemmedWords'] = pd.Series(porterStemmedWords)
#SnowBall stemmer
snowballStemmedWords = [nltk.stem.SnowballStemmer("english").stem(word) for word in words]
da = pd.DataFrame()
da['SnowballStemmedWords'] = pd.Series(snowballStemmedWords)
da

   SnowballStemmedWords
0                 peopl
1                   are
2                  just
3                 store
4                   up.
5                  they
6                   are
7                  stay
8                    at
9                  home
10                freez
11              things.
12                    i
13                 talk
14                   to
15               dealer
16               around
17                  the
18                state
19                  and
20                  out
21                   of
22                  the
23                area,
24                 they
25                  are
26                  all
27                  out
28                   of
29            freezers,
30                 said
31                owner
32                frank
33               mertz.

In [0]:
nltk.download('wordnet')
words  = nltk.tokenize.WhitespaceTokenizer().tokenize(df["text"][0])
df1 = pd.DataFrame()
df1['OriginalWords'] = pd.Series(words)
#WordNet Lemmatization

da = pd.DataFrame()
wordNetLemmatizedWords = [nltk.stem.WordNetLemmatizer().lemmatize(word) for word in words]
da['WordNetLemmatizer'] = pd.Series(wordNetLemmatizedWords)

da

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

   WordNetLemmatizer
0             People
1                are
2               just
3            storing
4                up.
5               They
6                are
7            staying
8                 at
9               home
10          freezing
11           things.
12                 I
13              talk
14                to
15            dealer
16            around
17               the
18             state
19               and
20               out
21                of
22               the
23             area,
24              they
25               are
26               all
27               out
28                of
29         freezers,
30              said
31             owner
32             Frank
33            Mertz.

In [0]:
df

         index  ... subjectivity
0            2  ...     0.000000
1            6  ...     0.000000
2            7  ...     0.166667
3            9  ...     0.000000
4           14  ...     0.000000
...        ...  ...          ...
313031  564135  ...     0.100000
313032  564136  ...     0.545455
313033  564137  ...     0.283333
313034  564138  ...     0.950000
313035  564140  ...     0.000000

[313036 rows x 8 columns]