In [34]:
import tweepy as tw
import pandas as pd
import os
import csv

In [35]:
consumer_key = "IQFN7RfvSs3107ZGKq1vDE2Um"
consumer_secret = "JF8rB1ftzNPzNKCUGHTZXtZV22yiCK51bJnl51t1riNnLy4cuJ"
access_token = "1008966897130303488-PNJTNYKhrs5q3YbCIZf2lRGC817JSQ"
access_token_secret = "89xKwZBAZBUHLVqoayE1gDGfuJeJwzLhnkZ7NnXvOJZ6v"

In [36]:
auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth, wait_on_rate_limit=True)

In [37]:
tweets_df = pd.read_csv("tweet_ids.csv")
tweets_df.head()

   Unnamed: 0             tweet_id
0         0.0  1242693364098580481
1         1.0  1242693402971406342
2         2.0  1242693578817597442
3         3.0  1242693609725575168
4         4.0  1242693680143544325

In [38]:
index_manager_read = open('index_manager.txt', 'r')
indx = index_manager_read.read()
print(indx)
index_manager_read.close()

5395

In [39]:
twitter_ids = tweets_df["tweet_id"].tolist()
i = 0
indx = int(indx)
ids = twitter_ids[indx:indx + 899]

text = []
id_str = []
entities_hashtags = []
entities_symbols = []
entities = []
user_id = []
entities_hashtags = []
entitites_symbols = []
user_location = []
time_zone = []
lang = []
created_at = []

cnt = 0

In [40]:
for tweet_id in ids:
    
    print("\nCurrent indx: " + str(indx))
    print("Tweets to be processed: " + str(900-cnt))
    cnt += 1 
    indx += 1
    
    try:
        print("Processing tweet. ID = " + str(tweet_id))
        
        tweet = api.get_status(tweet_id, tweet_mode = 'extended', include_entities = True)
        
        text.append(tweet.full_text)
        created_at.append(tweet.created_at)
        id_str.append(tweet.id_str)
        entities.append(tweet.entities)
        user_id.append(tweet.user.id)
        lang.append(tweet.lang)
        time_zone.append(tweet.user.time_zone)
        user_location.append(tweet.user.location)
        entities_hashtags.append(tweet.entities.hashtags)
        entities_symbols.append(tweet.entities.symbols)
        
        if(cnt%100 == 0):
            print("Text: " + str(tweet.full_text))
    except tw.error.TweepError:
      print("ERROR WHILE ACCESSING TWEET. ID: " + str(tweet_id))
      pass

Current indx: 5395
Tweets to be processed: 900
Processing tweet. ID = 1243387385016008711

AttributeError: 'dict' object has no attribute 'hashtags'

In [22]:
indx_manager_write = open('index_manager.txt', 'w')
indx_manager_write.write(str(indx))
indx_manager_write.close()
print(str(indx))

5395

In [23]:
text_2 = text
for ttext in text:
    ttext = ttext.strip("\n")

In [24]:
#         text.append(tweet.full_text)
#         created_at.append(tweet.created_at)
#         id_str.append(tweet.id_str)
#         entities.append(tweet.entities)
#         user_id.append(tweet.user.id)
#         location.append(tweet.user.location)
#         lang.append(tweet.lang)
#         time_zone.append(tweet.user.time_zone)

# for loc in location[:10]:
#     print(loc)

In [26]:
import pandas as pd

# df = pd.DataFrame(columns=['id_str', 'user_id', 'text', 'created_at', 'entities', 'location', 'lang', 'time_zone'])
df = pd.DataFrame(columns=['id_str', 'user_id', 'text', 'created_at', 'entities','user_location' ,'lang', 'time_zone'])
df.head()

df['id_str'] = id_str
df['user_id'] = user_id
df['text'] = text
df['created_at'] = created_at
df['entities'] = entities
df['location'] = user_location
df['lang'] = lang
df['time_zone'] = time_zone

In [27]:
df.head()

,id_str,user_id,text,created_at,entities,user_location,lang,time_zone,location
0,1243216779750436866,771813582,"@Swamy39 @smartpraki Corona is born, nurtured ...",2020-03-26 16:42:32,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,en,None,India
1,1243216890329272320,587599466,Was talking to someone from chennai and when a...,2020-03-26 16:42:59,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,en,None,"Mumbai, India"
2,1243216937460482048,4889660393,@drashwathcn @deepolice12 sir you both are my ...,2020-03-26 16:43:10,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,en,None,"Bengaluru, India"
3,1243216982897393665,1145281609412648965,Corona is a Viral Virus...\nBut working as a f...,2020-03-26 16:43:21,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,en,None,
4,1243217009980178438,2445184111,#IndiaFightsCorona\nIn this environment of det...,2020-03-26 16:43:27,"{'hashtags': [{'text': 'IndiaFightsCorona', 'i...",NaN,en,None,gallery

In [30]:
file_new = open('file_manager.txt', 'r')
file_indx = file_new.read()
file_new.close()
filename = 'final_tweets_' + file_indx + '.csv'
# filename = 'final_tweets_1.csv'
print(filename)

final_tweets_5.csv

In [31]:
df.to_csv(filename)

In [32]:
file_indx = int(file_indx)
file_indx += 1

file_write = open('file_manager.txt', 'w')
file_write.write(str(file_indx))
file_write.close()

In [33]:
print(file_indx)

6

In [37]:
######## DO NOT RUN #################


# print("writing to dataset")
# with open("tweets.txt", "w+") as f:
#     for tweet in tweets:
#         print("writing to txt file. tweet: " + str(tweet))
#         f.write("%s\n" % str(tweet))
        
# print("writing to dataset")
# with open("dates.txt", "w+") as f:
#     for date in dates:
#         print("writing to txt file. tweet: " + str(date))
#         f.write("%s\n" % str(date))

In [75]:
id_t = tweets_df['tweet_id'].tolist()[1]
tweet_2 = api.get_status(id_t, tweet_mode = 'extended')
print(tweet_2.full_text)

CORONA 19 UPDATE
----------------------------------------------------------
Total effected : 420000
Recovered : 107000
Fatality : 18500
Under Treatment : ( 420000-107000) = 313000
Fatality Rate = 18500/420000Ã—100=  4.4 %
UT Rate = 74.52%

GLOBAL FIGURE