In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
from numpy import nan as NaN

In [2]:
filenames = []
__BASE__FILENAME__ = "dataset\\final_tweets_"
for i in range(1, 75):
    file = __BASE__FILENAME__ + str(i) + '.csv'
    filenames.append(file)

In [3]:
main_df = pd.DataFrame()
for filename in filenames:
    temp_df = pd.read_csv(filename)
    main_df = main_df.append(temp_df)

In [4]:
main_df

,Unnamed: 0,id_str,user_id,text,created_at,entities,lang,time_zone,user_location,location,entities_hashtags,entities_symbols,coordinates
0,0,1242693402971406342,1211110380249858049,CORONA 19 UPDATE \n---------------------------...,2020-03-25 06:02:50,"{'hashtags': [], 'symbols': [], 'user_mentions...",en,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1242693578817597442,2558507150,Anti Corona T-shirt collection is online for s...,2020-03-25 06:03:31,"{'hashtags': [{'text': '21daysLockdown', 'indi...",en,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1242693609725575168,1242691555628060672,The matter is serious. Take full care not to b...,2020-03-25 06:03:39,"{'hashtags': [], 'symbols': [], 'user_mentions...",en,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1242693680143544325,787255787961872388,All Mosque committee members headed by Syed Ga...,2020-03-25 06:03:56,"{'hashtags': [{'text': 'Narayanpet', 'indices'...",en,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1242693745755262977,1230923356519555072,@aajtak If these Indians are already infected ...,2020-03-25 06:04:11,"{'hashtags': [], 'symbols': [], 'user_mentions...",en,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
282,282,1264242054101635073,2987548622,#AatmaNirbharApnaBharat\nFacilitating states d...,2020-05-23 17:09:28,NaN,en,NaN,NaN,"लखनऊ, भारत","[{'text': 'AatmaNirbharApnaBharat', 'indices':...",[],NaN
283,283,1264242097940336641,2269187558,Cheers to you jyoti. Wish you health &amp; hap...,2020-05-23 17:09:39,NaN,en,NaN,NaN,"Bengaluru South, India","[{'text': 'PMCaresFund', 'indices': [125, 137]}]",[],NaN
284,284,1264242258762764289,2987548622,#AatmaNirbharApnaBharat\nTechnology driven edu...,2020-05-23 17:10:17,NaN,en,NaN,NaN,"लखनऊ, भारत","[{'text': 'AatmaNirbharApnaBharat', 'indices':...",[],NaN
285,285,1264242273790787584,1083235498418733057,#EidMubarak #EidAlFitr #RomanReigns @WWERomanR...,2020-05-23 17:10:21,NaN,en,NaN,NaN,India,"[{'text': 'EidMubarak', 'indices': [0, 11]}, {...",[],NaN
286,286,1264242405668089858,1074016333476507648,#dmrc #metro I wanna ask about and gave asure ...,2020-05-23 17:10:52,NaN,en,NaN,NaN,"New Delhi, India","[{'text': 'dmrc', 'indices': [0, 5]}, {'text':...",[],NaN

In [9]:
reqd_data = [main_df['created_at'], main_df['entities']]
print(type(reqd_data))
headers = ["created_at", "ent"]
reqd_df = pd.concat(reqd_data, axis = 1, keys=headers)
reqd_df = reqd_df.dropna()
reqd_df

<class 'list'>

              created_at                                                ent
0    2020-03-25 06:02:50  {'hashtags': [], 'symbols': [], 'user_mentions...
1    2020-03-25 06:03:31  {'hashtags': [{'text': '21daysLockdown', 'indi...
2    2020-03-25 06:03:39  {'hashtags': [], 'symbols': [], 'user_mentions...
3    2020-03-25 06:03:56  {'hashtags': [{'text': 'Narayanpet', 'indices'...
4    2020-03-25 06:04:11  {'hashtags': [], 'symbols': [], 'user_mentions...
..                   ...                                                ...
890  2020-03-27 03:57:50  {'hashtags': [], 'symbols': [], 'user_mentions...
891  2020-03-27 03:58:05  {'hashtags': [], 'symbols': [], 'user_mentions...
892  2020-03-27 03:59:27  {'hashtags': [{'text': 'corona', 'indices': [5...
893  2020-03-27 03:59:39  {'hashtags': [], 'symbols': [], 'user_mentions...
894  2020-03-27 04:00:13  {'hashtags': [], 'symbols': [], 'user_mentions...

[4462 rows x 2 columns]

In [10]:
columns = {"date", "time", "hashtags"}
split_df = pd.DataFrame(columns=columns)
split_df

Empty DataFrame
Columns: [hashtags, time, date]
Index: []

In [12]:
columns = {"date", "time", "hashtags"}
split_df = pd.DataFrame(columns=columns)
split_df
error_rows = []
temp = 0
for idx, row in reqd_df.iterrows():
#     print('Processing row '+ str(idx))
    text_values = []
    date, time = str(row.created_at).split()
    try:
        json_hashtags = json.loads(str(row.ent).replace("'", '"'))
        for value in json_hashtags["hashtags"]:
            text_values.append(value["text"].lower())
        if len(text_values) != 0:
            temp_dict = {'date': date, 'hashtags': text_values, 'time': time}
        else:
            temp_dict = {'date': date, 'hashtags': NaN, 'time': time}
        split_df = split_df.append(temp_dict, ignore_index=True)
    except Exception as e:
        print(e)
#         print("error occurred while processing row " + str(idx))
        error_rows.append(idx)

Expecting ',' delimiter: line 1 column 290 (char 289)
Expecting ',' delimiter: line 1 column 129 (char 128)
Expecting ',' delimiter: line 1 column 354 (char 353)
Expecting ',' delimiter: line 1 column 225 (char 224)
Expecting ',' delimiter: line 1 column 1379 (char 1378)
Expecting ',' delimiter: line 1 column 495 (char 494)
Expecting ',' delimiter: line 1 column 88 (char 87)
Expecting ',' delimiter: line 1 column 473 (char 472)
Expecting ',' delimiter: line 1 column 693 (char 692)
Expecting ',' delimiter: line 1 column 101 (char 100)
Expecting ',' delimiter: line 1 column 1797 (char 1796)
Expecting ',' delimiter: line 1 column 619 (char 618)
Expecting ',' delimiter: line 1 column 97 (char 96)
Expecting ',' delimiter: line 1 column 1973 (char 1972)
Invalid \escape: line 1 column 103 (char 102)
Expecting ',' delimiter: line 1 column 270 (char 269)
Expecting ',' delimiter: line 1 column 94 (char 93)
Expecting ',' delimiter: line 1 column 490 (char 489)

In [24]:
split_df = split_df.dropna()
split_df

                                            hashtags      time        date
1     [21dayslockdown, covid2019, indiafightscorona]  06:03:31  2020-03-25
3                               [narayanpet, corona]  06:03:56  2020-03-25
7                                           [corona]  06:05:05  2020-03-25
8                  [ssc_ufm_mat_karona, corona, ufm]  06:05:46  2020-03-25
9                               [keralafightscorona]  06:05:56  2020-03-25
...                                              ...       ...         ...
4434            [coronavirusindia, stayhomestaysafe]  03:56:02  2020-03-27
4437                           [संतों_की_दूरदर्शिता]  03:57:01  2020-03-27
4438                 [lockdown21, indiafightscorona]  03:57:31  2020-03-27
4439                                  [lifethriving]  03:57:39  2020-03-27
4442                   [corona, silkroad, silkroute]  03:59:27  2020-03-27

[1637 rows x 3 columns]

In [18]:
all_hashtags = []
for idx, row in split_df.iterrows():
    for hashtag in row.hashtags:
        all_hashtags.append(hashtag.lower())
print("The total number of hashtags is " + str(len(all_hashtags)))

The total number of hashtags is 6148

In [23]:
all_hashtags_set = set(all_hashtags)
print("Number of unique hashtags: " + str(len(all_hashtags_set)))

Number of unique hashtags: 2018

In [25]:
temp_df = pd.DataFrame(columns={"hashtag_text"})
temp_df["hashtag_text"] = all_hashtags
temp_df["hashtag_text"].value_counts()

corona               718
covid2019            178
21daylockdown        143
coronavirusindia     141
indiafightscorona    135
                    ...
jaipur                 1
toddler                1
living                 1
keeplearning           1
delhiyoutuber          1
Name: hashtag_text, Length: 2018, dtype: int64

In [29]:
split_df_explode = split_df.explode('hashtags')
print("Number of rows: "+ str(split_df_explode.shape[0]))
split_df_explode['hashtags'].value_counts()

Number of rows: 6148

corona               718
covid2019            178
21daylockdown        143
coronavirusindia     141
indiafightscorona    135
                    ...
jaipur                 1
toddler                1
living                 1
keeplearning           1
delhiyoutuber          1
Name: hashtags, Length: 2018, dtype: int64

In [30]:
split_df_explode_sorted = split_df_explode.sort_values(by=["date", "time"])
split_df_explode_sorted

               hashtags      time        date
1        21dayslockdown  06:03:31  2020-03-25
1             covid2019  06:03:31  2020-03-25
1     indiafightscorona  06:03:31  2020-03-25
3            narayanpet  06:03:56  2020-03-25
3                corona  06:03:56  2020-03-25
...                 ...       ...         ...
4438  indiafightscorona  03:57:31  2020-03-27
4439       lifethriving  03:57:39  2020-03-27
4442             corona  03:59:27  2020-03-27
4442           silkroad  03:59:27  2020-03-27
4442          silkroute  03:59:27  2020-03-27

[6148 rows x 3 columns]

In [34]:
list_value_counts = list(split_df_explode['hashtags'].value_counts())
list_value_counts[5:15]

[133, 124, 118, 97, 89, 86, 66, 64, 58, 57]

In [38]:
def number_of_list_elems_greater_than_certain_value(x: list, val: int) -> int:
    count = 0
    for value in x:
        if(value >= val):
            count += 1
        else:
            break
    return count

In [41]:
number_of_list_elems_greater_than_certain_value(list_value_counts, 100)

8

In [42]:
number_of_list_elems_greater_than_certain_value(list_value_counts, 50)

15