In [162]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
from numpy import nan as NaN

In [15]:
df_1 = pd.read_csv('dataset\\final_tweets_1.csv')
df_1

,Unnamed: 0,id_str,user_id,text,created_at,entities,lang,time_zone
0,0,1242693402971406342,1211110380249858049,CORONA 19 UPDATE \n---------------------------...,2020-03-25 06:02:50,"{'hashtags': [], 'symbols': [], 'user_mentions...",en,NaN
1,1,1242693578817597442,2558507150,Anti Corona T-shirt collection is online for s...,2020-03-25 06:03:31,"{'hashtags': [{'text': '21daysLockdown', 'indi...",en,NaN
2,2,1242693609725575168,1242691555628060672,The matter is serious. Take full care not to b...,2020-03-25 06:03:39,"{'hashtags': [], 'symbols': [], 'user_mentions...",en,NaN
3,3,1242693680143544325,787255787961872388,All Mosque committee members headed by Syed Ga...,2020-03-25 06:03:56,"{'hashtags': [{'text': 'Narayanpet', 'indices'...",en,NaN
4,4,1242693745755262977,1230923356519555072,@aajtak If these Indians are already infected ...,2020-03-25 06:04:11,"{'hashtags': [], 'symbols': [], 'user_mentions...",en,NaN
...,...,...,...,...,...,...,...,...
890,890,1242792918387060736,1045246104986562560,"10 positive cases in Karnataka today, updates ...",2020-03-25 12:38:16,"{'hashtags': [], 'symbols': [], 'user_mentions...",en,NaN
891,891,1242793054446051328,51707475,@timesofindia Did congress took corona serious...,2020-03-25 12:38:48,"{'hashtags': [], 'symbols': [], 'user_mentions...",en,NaN
892,892,1242793057755336705,772877921547681792,Strong Action should be taken against those pe...,2020-03-25 12:38:49,"{'hashtags': [{'text': 'police', 'indices': [6...",en,NaN
893,893,1242793132699181056,810705372,"@narendramodi Sir, this time when we all are q...",2020-03-25 12:39:07,"{'hashtags': [], 'symbols': [], 'user_mentions...",en,NaN
894,894,1242793137598115840,795872163328884736,@BJP4India @BJP4Bengal Just 500 infected. But ...,2020-03-25 12:39:08,"{'hashtags': [], 'symbols': [], 'user_mentions...",en,NaN

In [19]:
# generate filenames
filenames = []
__BASE__FILENAME__ = "dataset\\final_tweets_"
for i in range(1, 75):
    file = __BASE__FILENAME__ + str(i) + '.csv'
    filenames.append(file)

In [20]:
filenames[5]

'dataset\\final_tweets_6.csv'

In [26]:
main_df = pd.DataFrame()

In [27]:
for filename in filenames:
    temp_df = pd.read_csv(filename)
    main_df = main_df.append(temp_df)

In [33]:
main_df

,Unnamed: 0,id_str,user_id,text,created_at,entities,lang,time_zone,user_location,location,entities_hashtags,entities_symbols,coordinates
0,0,1242693402971406342,1211110380249858049,CORONA 19 UPDATE \n---------------------------...,2020-03-25 06:02:50,"{'hashtags': [], 'symbols': [], 'user_mentions...",en,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1242693578817597442,2558507150,Anti Corona T-shirt collection is online for s...,2020-03-25 06:03:31,"{'hashtags': [{'text': '21daysLockdown', 'indi...",en,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1242693609725575168,1242691555628060672,The matter is serious. Take full care not to b...,2020-03-25 06:03:39,"{'hashtags': [], 'symbols': [], 'user_mentions...",en,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1242693680143544325,787255787961872388,All Mosque committee members headed by Syed Ga...,2020-03-25 06:03:56,"{'hashtags': [{'text': 'Narayanpet', 'indices'...",en,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1242693745755262977,1230923356519555072,@aajtak If these Indians are already infected ...,2020-03-25 06:04:11,"{'hashtags': [], 'symbols': [], 'user_mentions...",en,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
282,282,1264242054101635073,2987548622,#AatmaNirbharApnaBharat\nFacilitating states d...,2020-05-23 17:09:28,NaN,en,NaN,NaN,"लखनऊ, भारत","[{'text': 'AatmaNirbharApnaBharat', 'indices':...",[],NaN
283,283,1264242097940336641,2269187558,Cheers to you jyoti. Wish you health &amp; hap...,2020-05-23 17:09:39,NaN,en,NaN,NaN,"Bengaluru South, India","[{'text': 'PMCaresFund', 'indices': [125, 137]}]",[],NaN
284,284,1264242258762764289,2987548622,#AatmaNirbharApnaBharat\nTechnology driven edu...,2020-05-23 17:10:17,NaN,en,NaN,NaN,"लखनऊ, भारत","[{'text': 'AatmaNirbharApnaBharat', 'indices':...",[],NaN
285,285,1264242273790787584,1083235498418733057,#EidMubarak #EidAlFitr #RomanReigns @WWERomanR...,2020-05-23 17:10:21,NaN,en,NaN,NaN,India,"[{'text': 'EidMubarak', 'indices': [0, 11]}, {...",[],NaN
286,286,1264242405668089858,1074016333476507648,#dmrc #metro I wanna ask about and gave asure ...,2020-05-23 17:10:52,NaN,en,NaN,NaN,"New Delhi, India","[{'text': 'dmrc', 'indices': [0, 5]}, {'text':...",[],NaN

In [34]:
reqd_data = [main_df['created_at'], main_df['entities']]

In [35]:
reqd_data

[0      2020-03-25 06:02:50
 1      2020-03-25 06:03:31
 2      2020-03-25 06:03:39
 3      2020-03-25 06:03:56
 4      2020-03-25 06:04:11
               ...
 282    2020-05-23 17:09:28
 283    2020-05-23 17:09:39
 284    2020-05-23 17:10:17
 285    2020-05-23 17:10:21
 286    2020-05-23 17:10:52
 Name: created_at, Length: 58491, dtype: object,
 0      {'hashtags': [], 'symbols': [], 'user_mentions...
 1      {'hashtags': [{'text': '21daysLockdown', 'indi...
 2      {'hashtags': [], 'symbols': [], 'user_mentions...
 3      {'hashtags': [{'text': 'Narayanpet', 'indices'...
 4      {'hashtags': [], 'symbols': [], 'user_mentions...
                              ...
 282                                                  NaN
 283                                                  NaN
 284                                                  NaN
 285                                                  NaN
 286                                                  NaN
 Name: entities, Length: 58491, dtype: object]

In [38]:
headers = ["created_at", "ent"]
reqd_df = pd.concat(reqd_data, axis = 1, keys=headers)

In [39]:
reqd_df

              created_at                                                ent
0    2020-03-25 06:02:50  {'hashtags': [], 'symbols': [], 'user_mentions...
1    2020-03-25 06:03:31  {'hashtags': [{'text': '21daysLockdown', 'indi...
2    2020-03-25 06:03:39  {'hashtags': [], 'symbols': [], 'user_mentions...
3    2020-03-25 06:03:56  {'hashtags': [{'text': 'Narayanpet', 'indices'...
4    2020-03-25 06:04:11  {'hashtags': [], 'symbols': [], 'user_mentions...
..                   ...                                                ...
282  2020-05-23 17:09:28                                                NaN
283  2020-05-23 17:09:39                                                NaN
284  2020-05-23 17:10:17                                                NaN
285  2020-05-23 17:10:21                                                NaN
286  2020-05-23 17:10:52                                                NaN

[58491 rows x 2 columns]

In [40]:
reqd_df = reqd_df.dropna()

In [41]:
reqd_df

              created_at                                                ent
0    2020-03-25 06:02:50  {'hashtags': [], 'symbols': [], 'user_mentions...
1    2020-03-25 06:03:31  {'hashtags': [{'text': '21daysLockdown', 'indi...
2    2020-03-25 06:03:39  {'hashtags': [], 'symbols': [], 'user_mentions...
3    2020-03-25 06:03:56  {'hashtags': [{'text': 'Narayanpet', 'indices'...
4    2020-03-25 06:04:11  {'hashtags': [], 'symbols': [], 'user_mentions...
..                   ...                                                ...
890  2020-03-27 03:57:50  {'hashtags': [], 'symbols': [], 'user_mentions...
891  2020-03-27 03:58:05  {'hashtags': [], 'symbols': [], 'user_mentions...
892  2020-03-27 03:59:27  {'hashtags': [{'text': 'corona', 'indices': [5...
893  2020-03-27 03:59:39  {'hashtags': [], 'symbols': [], 'user_mentions...
894  2020-03-27 04:00:13  {'hashtags': [], 'symbols': [], 'user_mentions...

[4462 rows x 2 columns]

In [105]:
columns = {"date", "time", "hashtags"}
split_df = pd.DataFrame(columns=columns)
split_df

Empty DataFrame
Columns: [date, hashtags, time]
Index: []

In [53]:
# for index, row in reqd_df.iterrows():
#     created_at = str(row['created_at'])
#     date, time = created_at.split()
date, time = str(reqd_df.iloc[1].created_at).split()

In [131]:
hashtags = reqd_df.iloc[3].ent
json_hashtags = json.loads(str(reqd_df.iloc[3].ent).replace("'", '"'))

In [132]:
json_hashtags

{'hashtags': [{'text': 'Narayanpet', 'indices': [116, 127]},
  {'text': 'Corona', 'indices': [270, 277]}],
 'symbols': [],
 'user_mentions': [],
 'urls': [],
 'media': [{'id': 1242693488161853440,
   'id_str': '1242693488161853440',
   'indices': [278, 301],
   'media_url': 'http://pbs.twimg.com/ext_tw_video_thumb/1242693488161853440/pu/img/E5lbUP79nNPuF9dX.jpg',
   'media_url_https': 'https://pbs.twimg.com/ext_tw_video_thumb/1242693488161853440/pu/img/E5lbUP79nNPuF9dX.jpg',
   'url': 'https://t.co/zz3eI7EKsQ',
   'display_url': 'pic.twitter.com/zz3eI7EKsQ',
   'expanded_url': 'https://twitter.com/SzNarayanpet/status/1242693680143544325/video/1',
   'type': 'photo',
   'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
    'medium': {'w': 960, 'h': 540, 'resize': 'fit'},
    'small': {'w': 680, 'h': 383, 'resize': 'fit'},
    'large': {'w': 960, 'h': 540, 'resize': 'fit'}}}]}

In [133]:
json_hashtags["hashtags"]
text_values = []
json_hashtags["hashtags"]

[{'text': 'Narayanpet', 'indices': [116, 127]},
 {'text': 'Corona', 'indices': [270, 277]}]

In [134]:
for value in json_hashtags["hashtags"]:
    text_values.append(value["text"])
text_values

['Narayanpet', 'Corona']

In [104]:
text_values

['Narayanpet', 'Corona']

In [136]:
for idx, row in reqd_df.iterrows():
    text_values = []
    date, time = str(row.created_at).split() 
    json_hashtags = json.loads(str(row.ent).replace("'", '"'))
    for value in json_hashtags["hashtags"]:
        text_values.append(value["text"])
    temp_dict = {'date': date, 'time': time, 'hashtags': text_values}
    split_df.append(temp_dict, ignore_index=True)

JSONDecodeError: Expecting ',' delimiter: line 1 column 290 (char 289)

In [261]:
columns = {"date", "time", "hashtags"}
split_df = pd.DataFrame(columns=columns)
split_df
error_rows = []
temp = 0

In [232]:
for idx, row in reqd_df.iterrows():
#     print('Processing row '+ str(idx))
    text_values = []
    date, time = str(row.created_at).split()
    try:
        json_hashtags = json.loads(str(row.ent).replace("'", '"'))
        for value in json_hashtags["hashtags"]:
            text_values.append(value["text"].lower())
        if len(text_values) != 0:
            temp_dict = {'date': date, 'hashtags': text_values, 'time': time}
        else:
            temp_dict = {'date': date, 'hashtags': NaN, 'time': time}
        split_df = split_df.append(temp_dict, ignore_index=True)
    except Exception as e:
        print(e)
        print("error occurred while processing row " + str(idx))
        error_rows.append(idx)

Expecting ',' delimiter: line 1 column 290 (char 289)
error occurred while processing row 329
Expecting ',' delimiter: line 1 column 129 (char 128)
error occurred while processing row 164
Expecting ',' delimiter: line 1 column 354 (char 353)
error occurred while processing row 211
Expecting ',' delimiter: line 1 column 225 (char 224)
error occurred while processing row 745
Expecting ',' delimiter: line 1 column 1379 (char 1378)
error occurred while processing row 353
Expecting ',' delimiter: line 1 column 495 (char 494)
error occurred while processing row 451
Expecting ',' delimiter: line 1 column 88 (char 87)
error occurred while processing row 42
Expecting ',' delimiter: line 1 column 473 (char 472)
error occurred while processing row 304
Expecting ',' delimiter: line 1 column 693 (char 692)
error occurred while processing row 483
Expecting ',' delimiter: line 1 column 101 (char 100)
error occurred while processing row 868
Expecting ',' delimiter: line 1 column 1797 (char 1796)
error occurred while processing row 111
Expecting ',' delimiter: line 1 column 619 (char 618)
error occurred while processing row 117
Expecting ',' delimiter: line 1 column 97 (char 96)
error occurred while processing row 235
Expecting ',' delimiter: line 1 column 1973 (char 1972)
error occurred while processing row 327
Invalid \escape: line 1 column 103 (char 102)
error occurred while processing row 637
Expecting ',' delimiter: line 1 column 270 (char 269)
error occurred while processing row 642
Expecting ',' delimiter: line 1 column 94 (char 93)
error occurred while processing row 817
Expecting ',' delimiter: line 1 column 490 (char 489)
error occurred while processing row 894

In [233]:
split_df

            date                                        hashtags      time
0     2020-03-25                                             NaN  06:02:50
1     2020-03-25  [21dayslockdown, covid2019, indiafightscorona]  06:03:31
2     2020-03-25                                             NaN  06:03:39
3     2020-03-25                            [narayanpet, corona]  06:03:56
4     2020-03-25                                             NaN  06:04:11
...          ...                                             ...       ...
4439  2020-03-27                                  [lifethriving]  03:57:39
4440  2020-03-27                                             NaN  03:57:50
4441  2020-03-27                                             NaN  03:58:05
4442  2020-03-27                   [corona, silkroad, silkroute]  03:59:27
4443  2020-03-27                                             NaN  03:59:39

[4444 rows x 3 columns]

In [234]:
split_df = split_df.dropna()
split_df

            date                                        hashtags      time
1     2020-03-25  [21dayslockdown, covid2019, indiafightscorona]  06:03:31
3     2020-03-25                            [narayanpet, corona]  06:03:56
7     2020-03-25                                        [corona]  06:05:05
8     2020-03-25               [ssc_ufm_mat_karona, corona, ufm]  06:05:46
9     2020-03-25                            [keralafightscorona]  06:05:56
...          ...                                             ...       ...
4434  2020-03-27            [coronavirusindia, stayhomestaysafe]  03:56:02
4437  2020-03-27                           [संतों_की_दूरदर्शिता]  03:57:01
4438  2020-03-27                 [lockdown21, indiafightscorona]  03:57:31
4439  2020-03-27                                  [lifethriving]  03:57:39
4442  2020-03-27                   [corona, silkroad, silkroute]  03:59:27

[1637 rows x 3 columns]

In [235]:
# for idx, row in split_df.iterrows():
print(type(split_df.loc[1].hashtags))

<class 'list'>

In [236]:
all_hashtags = []
for idx, row in split_df.iterrows():
    for hashtag in row.hashtags:
        all_hashtags.append(hashtag.lower())
#         all_hashtags.append(hashtag)

In [237]:
len(all_hashtags)

6148

In [238]:
all_hashtags_set = set(all_hashtags)

In [239]:
len(all_hashtags_set)

2018

In [240]:
all_hashtags_unique = list(all_hashtags_set)

In [216]:
len(all_hashtags_unique)

2018

In [217]:
import itertools
import operator

def most_common(L):
    # get an iterable of (item, iterable) pairs
    SL = sorted((x, i) for i, x in enumerate(L))
    # print 'SL:', SL
    groups = itertools.groupby(SL, key=operator.itemgetter(0))
    # auxiliary function to get "quality" for an item
    def _auxfun(g):
        item, iterable = g
        count = 0
        min_index = len(L)
        for _, where in iterable:
            count += 1
            min_index = min(min_index, where)
    # print 'item %r, count %r, minind %r' % (item, count, min_index)
        return count, -min_index
  # pick the highest-count/earliest item
    return max(groups, key=_auxfun)[0]

In [220]:
print(most_common(all_hashtags))

corona

In [221]:
all_hashtags.sort()

In [223]:
all_hashtags[1:5]

['144inindia', '144intn', '144intn', '17th_time']

In [224]:
temp_df = pd.DataFrame(columns={"hashtag_text"})

In [225]:
temp_df["hashtag_text"] = all_hashtags

In [227]:
temp_df["hashtag_text"].value_counts()

corona                  877
covid2019               215
coronavirusindia        192
21daylockdown           179
indiafightscorona       174
                       ...
tajmahalagra              1
worldunited               1
water                     1
gurudwarakabulattack      1
prayathome                1
Name: hashtag_text, Length: 2018, dtype: int64

In [241]:
split_df_explode = split_df.explode('hashtags')

In [253]:
split_df_explode.shape[0]

6148

In [252]:
type(split_df_explode.iloc[1].date)

str

In [247]:
split_df_explode['hashtags'].value_counts().sort_values()

request                      1
gurgaon                      1
tikdi                        1
indiatodayphotographers      1
covid19walkout               1
                          ...
indiafightscorona          135
coronavirusindia           141
21daylockdown              143
covid2019                  178
corona                     718
Name: hashtags, Length: 2018, dtype: int64

In [258]:
split_df_sort = split_df_explode.sort_values(by=["date", "time"])
split_df_sort

            date           hashtags      time
1     2020-03-25     21dayslockdown  06:03:31
1     2020-03-25          covid2019  06:03:31
1     2020-03-25  indiafightscorona  06:03:31
3     2020-03-25         narayanpet  06:03:56
3     2020-03-25             corona  06:03:56
...          ...                ...       ...
4438  2020-03-27  indiafightscorona  03:57:31
4439  2020-03-27       lifethriving  03:57:39
4442  2020-03-27             corona  03:59:27
4442  2020-03-27           silkroad  03:59:27
4442  2020-03-27          silkroute  03:59:27

[6148 rows x 3 columns]

In [259]:
split_df = split_df.sort_values(by=["date", "time"])

In [260]:
split_df

            date                                        hashtags      time
1     2020-03-25  [21dayslockdown, covid2019, indiafightscorona]  06:03:31
3     2020-03-25                            [narayanpet, corona]  06:03:56
7     2020-03-25                                        [corona]  06:05:05
8     2020-03-25               [ssc_ufm_mat_karona, corona, ufm]  06:05:46
9     2020-03-25                            [keralafightscorona]  06:05:56
...          ...                                             ...       ...
4434  2020-03-27            [coronavirusindia, stayhomestaysafe]  03:56:02
4437  2020-03-27                           [संतों_की_दूरदर्शिता]  03:57:01
4438  2020-03-27                 [lockdown21, indiafightscorona]  03:57:31
4439  2020-03-27                                  [lifethriving]  03:57:39
4442  2020-03-27                   [corona, silkroad, silkroute]  03:59:27

[1637 rows x 3 columns]